/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float:left;
}

/* per le colonne di destra del menu */
.col.col-right {
    text-align: right;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.button {
    color: white;
    background-color: #fe775a;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
}

.nav-col {
    width: 50%;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.blue-text {
    color: #334a5c;
    font-size: 14px;
    font-weight: 500;
}
/* FINE COMMON */

/* HEADER */

/* Per tutti gli <ul>, <li> e <a> nelle sezioni nav */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #334a5c;
    font-weight: 500;
}

/* Nav Top */
.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #334a5c;
}

.nav-top .container {
    padding: 20px 0;
}

/* Nav Top Left */
.menu-top-left li {
    line-height: 30px;
}

.menu-top-left li:first-child {
    padding-right: 15px;
    border-right: 2px solid #334a5c;
}

.menu-top-left li:last-child {
    padding-left: 15px;
}


.menu-top-left .nav-link span {
    display: inline-block;
    padding: 0 5px;
}

/* Fine Nav Top Left */

/* Nav Top Right */
.menu-top-right li {
    padding-left: 20px;
}

.button.left {
    color: #fe775a;
    border: 1px solid #fe775a;
    background-color: #fafcfe;  
    padding: 5px 7px; 
}

.button.right {
    padding: 7px 10px; 
    display: inline;
}

.fa-search {
    color:#20aec5;
    font-size: 14px;
}
/* Fine Nav Top Right */

/* Fine Nav Top */

/* Nav Bottom */
.nav-bottom .container {
    padding: 20px 0;
}

.menu-bottom-right li,
.menu-bottom-right .nav-link i  {
    padding-left: 15px;
    line-height: 30px;
}
/* Fine Nav Bottom */

/* Jumbotron */
.jumbotron {
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 100% 26%;
    background-repeat: no-repeat;
  
}

.jumbotron .teaser{
    width: 50%;
}

.teaser {
    padding-top: 8%;
}
.teaser h1 {
    font-size: 46px;
    font-weight: 700;
}

.teaser p {
    line-height: 30px;
}

.teaser .subtitle {
    font-size: 12px;
    margin-top: 30px;
}
/* Fine Jumbotron */


/* FINE HEADER */