/* RESET */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* FINE RESET */

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float:left;
}

/* per le colonne di destra del menu */
.col.col-right {
    text-align: right;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.button {
    color: white;
    background-color: #fe775a;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
}

.nav-col {
    width: 50%;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-block-30 {
    padding: 30px 0;
}

.blue-text {
    color: #334a5c;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.blue-title {
    color: #334a5c;
}
/* FINE COMMON */

/* HEADER */

/* Per tutti gli <ul>, <li> e <a> nelle sezioni nav */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #334a5c;
    font-weight: 500;
}

/* Nav Top */
.nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid #334a5c;
}

.nav-top .container {
    padding: 20px 0;
}

/* Nav Top Left */
.menu-top-left li {
    line-height: 30px;
}

.menu-top-left li:first-child {
    padding-right: 15px;
    border-right: 2px solid #334a5c;
}

.menu-top-left li:last-child {
    padding-left: 15px;
}


.menu-top-left .nav-link span {
    display: inline-block;
    padding: 0 5px;
}

/* Fine Nav Top Left */

/* Nav Top Right */
.menu-top-right li {
    padding-left: 20px;
}

.button.left {
    color: #fe775a;
    border: 1px solid #fe775a;
    background-color: #fafcfe;  
    padding: 5px 7px; 
}

.button.right {
    padding: 7px 10px; 
    display: inline;
}

.fa-search {
    color:#20aec5;
    font-size: 14px;
}
/* Fine Nav Top Right */

/* Fine Nav Top */

/* Nav Bottom */
.nav-bottom .container {
    padding: 20px 0;
}

.menu-bottom-right li,
.menu-bottom-right .nav-link i  {
    padding-left: 15px;
    line-height: 30px;
}
/* Fine Nav Bottom */

/* Jumbotron */
.jumbotron {
    height: 550px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: 100% 25%;
    background-repeat: no-repeat; 
}

.jumbotron .teaser{
    width: 50%;
}

.teaser {
    padding-top: 8%;
}
.teaser h1 {
    font-size: 46px;
    font-weight: 700;
}

.teaser .subtitle {
    font-size: 12px;
    margin-top: 30px;
}
/* Fine Jumbotron */

.bg-cyan {
    height: 70px;
    background-color: #afebe4;
    border-bottom: 3px solid #33475b;
    border-top: 3px solid #33475b;

}

/* FINE HEADER */

/* MAIN */

/* Sezione Presentazione */
.presentation {
    background-color: #f4f9fd;
    text-align: center;
    padding-top: 40px;
}

.presentation .container {
    width: 65%;
}

.presentation h2 {
    font-size: 32px;
}

.presentation img {
    height: 200px;
}
/* Fine Sezione Presentazione */

/* Sezione Integrazioni e CTA*/
.integrations{
    background-color: #f4f9fd;
}

.cta {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ebf0f5;
}

.cta img {
    height: 100px;
    width: 100%;
    margin-bottom:30px;
}

.cta h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta ul {
    list-style-type: none;
}

.cta li i {
    padding-right: 10px;
    color: #fe775a;
}


/* CTA Orizzontale */
.cta.horizontal {
    padding: 60px 100px;
}

.cta.horizontal .col:first-child{
    width: 30%;
    text-align: center;
}

.cta.horizontal .col:last-child{
    width: 70%;
    padding-left: 30px;
}
.cta.horizontal h4 {
    display: inline-block;
    vertical-align: middle;
}

.cta.horizontal .divider {
    height: 2px;
    background-color: #334a5c;
    display: inline-block;
    width: 66%;
    vertical-align: middle;
    margin-left: 28px;
}

.cta.cta.horizontal li{
    display: inline-block;
    padding-right: 15px;
}






/* Fine CTA Orizzontale */
/* Fine sezione Integrazioni e CTA*/
/* FINE MAIN */